##
# Higgs Differential Combiner configuration file

PlotFileName: Combined_pilnu_totcov_averaged.pdf



##This is the correct input!
InputCard: inputcards/pilnu_average_v4.data

##This is the Dummy input!
#InputCard: inputcards/pilnu_average_test.data

#Use this inputcard if taking the total errors instead of the Nuisance Parameters
#InputCard: inputcards/pilnu_average_v5.data

#Switch whether to read in the total correlation matrix or the statistical
UseTotCorMat: false



Variable: Average
Measurements: HaWon Sibidanov SibidanovBp Lees Sanchez
#Measurements: HaWon Sibidanov Lees Sanchez

##  
DoPerformIndividualScan: false

## 'shape', 'full' and 'simp' are options - Update: 'Multi' now also is an option!
CombinationMethod: Multi
IncludeNP: true

## 'Gaussian', 'Gamma', 'Poisson' are options
NdataModel: Poisson

#CrossSectionOptions: 1.35 0. 100.
#CrossSectionOptions: 80 -1000. 1000.
CrossSectionOptions: 80 -600. 600.

## Settings for manual scan of likelihood
ManualScan: false
ScanNPoints: 30.
ScanNSigma: 1.

Average.Label: q^{2}
Average.Unit: GeV^{2}


#HaWon.Label: B #rightarrow #pi l #nu Belle 2010 (untagged)
#Sibidanov.Label: B^{0} #rightarrow #pi^{+} l^{-} #nu Belle 2012 (had. tag)
#SibidanovBp.Label: B^{+} #rightarrow #pi^{0} l^{+} #nu Belle 2012 (had. tag)
#Sanchez.Label: B #rightarrow #pi l #nu BaBar 2010 (untagged)
#Lees.Label: B #rightarrow #pi l #nu BaBar 2012 (untagged)

#HaWon.Label: Belle 2010, untagged (B0 mode)
#Sibidanov.Label: Belle 2012, had. tag (B0 mode)
#SibidanovBp.Label: Belle 2012, had. tag (converted B+ mode)
#Sanchez.Label: BaBar 2010, untagged (combined)
#Lees.Label: BaBar 2012, untagged (combined)

HaWon.Label: B^{0} Belle untagged , Phys. Rev. D83, 071101 (2011)
Sibidanov.Label: B^{0} Belle had. tag, Phys. Rev. D88, 032005 (2013)
SibidanovBp.Label: B^{+} Belle had. Tag, Phys. Rev. D88, 032005 (2013)
Sanchez.Label: B^{0}& B^{+} BaBar untagged, Phys. Rev. D83, 032007 (2011)
Lees.Label: B^{0}& B^{+} BaBar untagged, Phys. Rev. D86, 092004 (2012)